# ide
.idea
.vscode
node_modules
*/node_modules
test-pro/node_modules

*/HELP.md
*/target/
*/.mvn
*/target
*/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/uploadFiles/

### STS ###
*/.apt_generated
*/.classpath
*/.factorypath
*/.project
*/.settings
*/.springBeans
*/.sts4-cache

### IntelliJ IDEA ###
*/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
*/nbproject/private/
*/nbbuild/
*/dist/
*/nbdist/
*/.nb-gradle/
*build/
!**/src/main/**/build/
!**/src/test/**/build/
!/vue3_demos/vben-admin-thin-next/build

### VS Code ###
*/.vscode/

### data grip ###
!sb_demo_data_source_project/.idea
!sb_demo_data_source_project/**/*.iml
