<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>日志模板生成器</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
  <el-form ref="form" :data="formData" size="mini">
    <el-form-item label="week: ">
      <el-input-number required v-model="formData.weekCount"></el-input-number>
    </el-form-item>
    <el-form-item label="day count start: ">
      <el-input-number required v-model="formData.dayCount"></el-input-number>
    </el-form-item>
    <el-form-item label="start day: ">
<!--      <el-input-number required v-model="formData.startDay"></el-input-number>-->
      <el-date-picker
        v-model="formData.startDay"
        type="date"
        placeholder="选择日期">
      </el-date-picker>
    </el-form-item>
    <el-form-item label="days span: ">
      <el-input-number required v-model="formData.daySpan"></el-input-number>
    </el-form-item>
    <el-row>
      <el-col :span="24">
        <el-button style="width: 100%;" @click="generate">generate !</el-button>
      </el-col>
    </el-row>
  </el-form>
  <el-card title="result">
    <el-input type="textarea" :autosize="true" v-model="result"></el-input>
  </el-card>
</div>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="http://cdn.staticfile.org/moment.js/2.24.0/moment.min.js"></script>
<script>
  const vm = new Vue({
    el: '#app',
    data () {
      return {
        formData: {
          weekCount: '',
          dayCount: '',
          startDay: '',
          daySpan: ''
        },
        result: '',
        weekMap: {
          '0': 'Sun',
          '1': 'Mon',
          '2': 'Tue',
          '3': 'Wen',
          '4': 'Thur',
          '5': 'Fir',
          '6': 'Sat',
        }
      }
    },
    methods: {
      async generate () {
        let result = ''
        await this.$refs['form'].validate()
        for (let i = 0; i < this.formData.daySpan; i++) {
          const _thisDate = new Date(+this.formData.startDay + i * 1000 * 60 * 60 * 24)
          const dayData = {
            dayCount: this.formData.dayCount + i,
            weekCount: this.formData.weekCount,
            date: moment(_thisDate).format('DD/MM/YYYY'),
            day: this.weekMap[_thisDate.getDay()] // 星期
          }
          result = this.getDay(dayData) + result
        }
        this.result = result
      },
      getDay (dayData) {
        return `
## day${dayData.dayCount}_week${dayData.weekCount} ${dayData.day} ${dayData.date}

### 上午

### 下午

`
      }
    }
  })
  console.log('daily push')
  console.log('daily push')
  console.log('daily push')
  console.log('daily push')
  console.log('daily push')
  const _data = { a: 1, b: 2 }
  console.log({ c: 3, ..._data })
  // // 定义
  // function uploadFile (data) {
  //   return request({
  //     header: {},
  //     url: '',
  //     method: '',
  //     ...data
  //   })
  // }
  // // 使用
  // uploadFile({
  //   data: formData,
  //   onUploadProgress: (progressEvent) => {}
  // })
</script>
</body>
</html>
